.contactsList {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  gap: 10px;
  font-weight: 600;
}

.contactsList li {
  display: flex;
  width: 350px;
  height: 45px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #ffebcd;
  border-radius: 5px;
}

.contactsList button {
  width: 120px;
  height: 30px;
  border: none;
  border-radius: 6px;
  background-color: #90ee90;
  font-weight: 600;
  cursor: pointer;
}